<h1 mat-dialog-title>Delete file</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select [(value)]="filter">
      <mat-option *ngFor="let filter of filtersList; let i = index" [value]="filter">{{filtersLabel[i]}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Loja</mat-label>
    <input id="termEl" matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tag principal:</mat-label>
    <input id="tagAsEl1" matInput>
  </mat-form-field>
  <!--<mat-form-field appearance="fill">
    <mat-label>Tag adicional:</mat-label>
    <input id="tagAsEl2" matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tag adicional:</mat-label>
    <input id="tagAsEl3" matInput>
  </mat-form-field>-->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onRemove()" *ngIf="data.category">DELETAR</button>
  <button mat-button mat-dialog-close>Voltar</button>
  <button mat-button (click)="onSend()">Enviar</button>
</div>